.mob-banners-container{
    display: flex;
    /* position: relative; */
    justify-content: center;
    flex-direction: column;
}
.mob-baner-page ,.mob-banners-container{
    display: flex;
    /* position: relative; */
    flex-direction: column;
    width: auto;
    height: auto;
    left: 1.1vw;
    align-items: center;
    gap: 10px;
}
.mob-baner-first{
    display: flex;
    /* position: relative; */
    width: 93vw;
    height: 359px;
    border-radius: 30px;
    background: url('../../assets/banners/b1.png');
    background-size: cover;
    background-position: center;
    left: 1.5vw;
    top: 1vh;
   
    
}
.mob-text01{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.mob-text-a{
    display: flex;
    position: relative;
    display: flex;
    width: 93vw;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
   
    text-align: center;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 183.333% */
    align-items: center;
    right: 10px;
    
   
    
    
    
    
   
    
    

}

.mob-text-b{
    display: flex;
    position: relative;
   
    width: 100vw;
    height: 84.753px;
    flex-shrink: 0;
    
    text-align: center;
   
  
    font-style: normal;
   
    line-height: normal;  
    
    
    align-items: center;
    justify-content: center;
    text-shadow: 0px -20px 70px rgba(253, 251, 129, 0.90), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 54px;
    color: #FDFB81;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px -20px 70px rgba(253, 251, 129, 0.90), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    right: 15px;
   
    
    
}
.background-container {
    width: 92vw; /* Set the background container size to 50% of viewport width */
    max-width: 100%;
    background-color:  rgba(11, 11, 11, 0.7);
    padding: 10px; /* Add padding for space around the text */
    
    font-size: 54px;
    
    
    font-weight: 700;
    border-radius: 25px;
    margin-left: 2px;
   
   
    
}

.mob-text-c{
    display: flex;
    position: relative;
    width: 100vw;
    height: 41.724px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    right: 15px;
       
}
.mob-plybutton{
    display: flex;
    position: relative;
    width: 30vw;
    height: 3vh;
    flex-shrink: 0; 
    border-radius: 12px;
    background: linear-gradient(180deg, #F5C945 0%, #484209 100%);
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.60);
   border-color: #F5C945;
    
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    left: 32vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: center;
    
  
}
.mob-baner-3{
    display: flex;
    /* position: relative; */
    width: 93vw;
    height: 359px;
    border-radius: 30px;
    background: url('../../assets/banners/b2.png');
    background-size: cover;
    background-position: center;
    left: 1.5vw;
    top: 2.5vh;
    
}

.mob-text03{
    text-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 50%;
    height: 20vh;
    align-items: start;
    padding: 10px;
    background-color:  rgba(11, 11, 11, 0.7);
    border-radius: 10px;
    left: 5px;
    top:10px
    
    


}


.mob-text-e{
    display: flex;
    position: relative;
    justify-content: start;
    width: 100vw;
    height: 27.978px;
    flex-shrink: 0;

    color: #FFF;
   
    
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 4vw;
    /* top: 15vh; */
}
.mob-text-f{
    display: flex;
    position: relative;
    justify-content: start;
    width: 100px;
    height: 2.59vh;
    flex-shrink: 0;
   

    color: #FFD700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 500%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 4vw;
    /* top: 15vh;  */
   
}
.mob-onvery{
    display: flex;
    /* position: relative; */
    flex-direction: column;
    text-align: start;
   
    
}
.mob-text-g{
    display: flex;
    position: relative;
    justify-content: start;
    width: 100vw;
    height: 2.59vh;
    flex-shrink: 0;

    color: #FFF;
    text-shadow: 0px 5px 20px #FFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 4vw;
    top: 5vh;
   
}
.mob-text-h{
    display: flex;
    position: relative;
    justify-content: start;
    width: 100vw;
    height: 2.59vh;
    flex-shrink: 0;

    color: #FFF;
    
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 4vw;
    top: 5vh; 
    white-space: nowrap; 
     
    text-overflow: ellipsis;
}
.mob-endtext{
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: end;
    right: 20px;
    bottom: 20px;
    align-items: center;
    gap: 10px;
    position: relative;
   

    
    
    
}
.mob-text-i{
    display: flex;
  
    justify-content: start;
    width: 50vw;
   
    
   background-color:  rgba(11, 11, 11, 0.7);
    flex-shrink: 0;

    color: #FFF;
    
    
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    /* margin-top: 25vh;  */
    justify-content: center;
    text-align: center;
   
    border-radius: 10px;
    /* white-space: nowrap; 
    
    text-overflow: ellipsis;  */
    
   
    
    

    
   
    
}

.mob-plybutton03{
    display: flex;
   
    width: 124px;
    height: 33px;
    flex-shrink: 0; 
    border-radius: 10px;
    background: linear-gradient(180deg, #F5C945 0%, #484209 100%);
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.60);
   border-color: #F5C945;
   
    flex-shrink: 0;
    color: #FFF;
    
    
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    justify-content: start;
    align-items: center;
   
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: center;
    
   
    
    
   
}
.mob-baner-2{
    display: flex;
   /* position: relative; */
    width: 93vw;
    height: 359px;
    border-radius: 30px;
    background: url('../../assets/banners/b3.png');
    background-size: cover;
    background-position: center;
    left: 1.5vw;
    top: 5vh;
}
.mob-text02{
    text-align: start;
    /* position: relative; */
    display: flex;
    flex-direction: column;
   

}
.mob-text-int{
    display: flex;
    position: relative;
    justify-content: start;
    width: 100vw;
    height: 2.79vh;
    flex-shrink: 0;

    color: #FFF;
    
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 4vw;
    top: 2vh;
    text-shadow: black;
}
.mob-text-vip{
    display: flex;
    position: relative;
    justify-content: start;
    width: 100vw;
    height: 2.79vh;
    
    flex-shrink: 0;

    color: #FFD700;
    text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);

    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    top: 5vh;
    left: 10px;
    text-shadow: black;  
    justify-content: start;
    align-items: start;
}
.mob-membership{
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    flex-direction: column;
    top: 25vw;
    left: 3vw;
}
.mob-text-benefits{
    width: 100vw;
height: 30px;
flex-shrink: 0;
color: #FFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

font-size: 2.2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.mob-text-invest{
    width: 100vw;
    
    flex-shrink: 0;
    color: #FFE073;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}


.mob-winbutton{
    display: flex;
    position: relative;
   
    flex-shrink: 0; 
    border-radius: 20px;
    background: linear-gradient(180deg, #F5C945 0%, #484209 100%);
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.60);
   border-color: #F5C945;
   width: 124px;
   height: 33px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
   
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    justify-content: center;
    align-items: center;
    
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    
  
}
.text02-box{
    background-color:  rgba(11, 11, 11, 0.7);
    border-radius: 20px;
    width: 80vw;
    height: 30vh;
    margin-left: 10px;
    margin-top: 10px;
    

}
.win-button-container{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2px;
    
    
}




