.payment {
  display: flex;
  justify-content: center;
  align-items: center; /* Align vertically in the center */
  padding: 1.5vw;
  margin-bottom: 35%;
  border-radius: 30px;
  background: rgba(243, 187, 41, 0.85);
  width: 90.5vw;
  height:45%;
  left: 3vw;
  margin-top: 7%;
  position: relative;

}

.secure {
  
  display: flex;
  position: relative;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}


.wayto {
  
  font-size: 1.9rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  line-height: normal;
  margin-bottom: 10px;
  color: #080808;
  text-align: center;
  justify-content: center;
  position: relative;
  display: flex;
  left: 2vw;
}

.buycoins{
  background-color: #000000;
  color: #fff;
  border: none; /* Remove border */
  border-radius: 6px; /* Remove border-radius */
  width: 12vw;
  white-space: nowrap; 
  text-align: center;
  text-overflow: ellipsis; 
  text-align: center;
 justify-content: center;
 font-size: 1.2rem;
}

.gateway {
  border-radius: 30px;
  color: #080808; /* Changed the text color to white */
  margin-left: 5vw; /* Adjust margin as needed to move the container to the right */
  /* margin-bottom: 10vh; */
  background-color: #000000;
  position: relative;
  display: flex;
}


   
.easy{
  color: #000000;
  font-size: 2.6rem;
  align-items: center;
  
  font-weight: 600;
  
  line-height: normal;
  margin-bottom: 1vw;
  display: flex;
  position: relative;
  left: 1vw;

}
.grandient02{
  width:100%;
  height: auto;
  /* background: url('../../assets/images/grandient/Ellipse\ 41.png');
  background-size: cover;
  background-position: center; */
  display: flex;
  position: relative;
  top: 7vh;
  
}
