.payment {
  display: flex;
  justify-content: center;
  align-items: center; /* Align vertically in the center */
  padding: 1.5vw;
  margin-bottom: 35%;
  border-radius: 30px;
  background: rgba(243, 187, 41, 0.85);
  width: 64.5vw;
  height:45%;
  margin-left: 14.2%;
  margin-top: 2%;
  position: relative;

}

.secure {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 700;
  color: #068FFF;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wayto {
  font-family: Gilroy;
  font-size: 2.5rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  line-height: normal;
  margin-bottom: 10px;
}

.buycoins{
  background-color: #000000;
  color: #fff;
  border: none; /* Remove border */
  border-radius: 6px; /* Remove border-radius */
  width: 14vw;
 
}

.gateway {
  border-radius: 30px;
  color: #080808; /* Changed the text color to white */
  margin-left: 5vw; /* Adjust margin as needed to move the container to the right */
  /* margin-bottom: 10vh; */
  background-color: #000000;
  position: relative;
  display: flex;
}

/* Add responsive styles for different screen sizes as needed */
@media (max-width: 768px) {
  .secure {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
  }

  .wayto {
    font-size: 20px;
  }

  .dpbuttn {
    font-size: 16px;
  }

  .gateway {
    margin-left: 10px; /* Adjust margin as needed for smaller screens */
  }
}
.easy{
  color: #000000;
  font-size: 4rem;
  
  
  font-weight: 600;
  
  line-height: normal;
  margin-bottom: 1vw;

}
.grandient02{
  width:100%;
  height: auto;
  /* background: url('../../assets/images/grandient/Ellipse\ 41.png');
  background-size: cover;
  background-position: center; */
  display: flex;
  position: relative;
  top: 7vh;
  
}
