.upi-main-container{
    width:auto;
  height: auto;

  display: flex;
  position: relative;
  top: 7vh;
  
}
.upi-payment{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background: rgba(243, 187, 41, 0.85);
    width: 97vw;
    height: 437px;
    flex-shrink: 0;
    left: 4px;
}
.upi-secure{
    display: flex;
    position: relative;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}
.upi-easy{
    display: flex;
    position: relative;
    display: flex;
    width: 39vw;
    height: 30vh;
    justify-content: start;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 20vh;
    left: 8vw;
}
.upi-wayto{
    display: flex;
    position: relative;
    text-align: center;
    display: flex;
    width: 196px;
    height: 109px;
    color: #000;
    
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    bottom: 6vh; 
    left: 9vw;

}
.upi-buycoins{
    display: flex;
    position: relative;
    bottom: 22.5vh;
    left: 49vw;
    background-color: #000000;
    color: #fff;
    border: none; /* Remove border */
    border-radius: 6px; /* Remove border-radius */
    width: 35vw;
    height: 6.6vh;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    
    text-align: center;
    justify-content: center;
    
}
.upi-gateway{
    display: flex;
    position: relative;
    bottom: 19vh;
    width: 90vw;
    left: 3.5vw;
  
    
}
 