.mobile-main{
    background: url('../../assets/Landing\ by\ s.e.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.mob-latest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.mob-tableicon{
    display: flex;
    width: 14vw;
    height: 7vh;
    align-items: center;
    top: 1vw;
}
.mob-winning{
    display: flex;
    flex-shrink: 0;
    color: #FFF;
   
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap; 

    text-overflow: ellipsis; 

}
.mob-ranking{
    display: flex;
    
    
}
.mob-livebutton{
    display: flex;
    width: 11vw;
    height: 2vh;
    margin-left: 4px;
}