/* .login-container{
    background: url('../assets/images/backgroup-secsion/Landing\ by\ s.e.png');
    background-size: cover;
    background-position: center;
} */
.backhome{
    display: flex;
  
    align-items: center;
    justify-content: end;
    margin-top: 2vw;
   width: 100%;
   gap: 3px;


}
.arrow{
    display: flex;
    margin-top: .2vh;
    align-items: center;
    width: auto;
    font-size:large;
   color: #fff;

    
}