
.grandient03{
  /* background: url('../../assets/images/grandient/Ellipse\ 41.png');
  background-size: cover;
  background-position: center; */
  width: 100%;
  
    height: auto;
    
    border: none;
    outline: none;
    margin: 0;
    margin-top: 0%;
    position: relative;
    display: flex;
    bottom: 18vw;
    left: .5vw;
}

  .mainbox-container{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    
    
  }



  .mainbox{
    width: 100%;
    height: auto;
    position: relative;
    align-items: center;
    
    display: flex;
    justify-content:center;
    flex-direction:column;
  }


  .texts{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    
    top: 2vw;
    left: 1.5vw;
  }

  .method{
    
    position: relative;
    text-align: center;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
bottom: 2vh;
right: 4.5vw;
  }
  .innerbox{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    margin-top: 5vh;
    gap: 20px;
    right: 2.5vw;
  }
  .innerbox1 {
    position: relative;
    width: 11.69vw;
    height: auto;
    flex-shrink: 0;
border-radius: 10px;
  background: #FFF;
  border-radius: 19.037px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  }
.pic-a{
  position: relative;
  display: flex;
  align-items: center;

}
/* .outer1{
  color: #FFF;
font-family: Inter;
font-size: 1.9rem;
font-style: normal;
font-weight: 500;
line-height: normal;

display: flex;
position: relative;
margin-top: 32vh;
right:8.5%;
text-align: center;
flex-direction: initial;
} */
.innerbox2 {
  position: relative;
  width: 11.69vw;
  height: auto;
  flex-shrink: 0;
border-radius: 10px;
background: #FFF;
border-radius: 19.037px;
/* border: 2.004px solid  #9616C3; */
background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.pic-b{
position: relative;
display: flex;
align-items: center;

}
/* .outer2{
color: #FFF;
font-family: Inter;
font-size: 1.9rem;
font-style: normal;
font-weight: 500;
line-height: normal;

display: flex;
position: relative;
margin-top: 32vh;
right:10%;
text-align: center;
} */
.innerbox3 {
  position: relative;
  width: 11.69vw;
  height: auto;
  flex-shrink: 0;
border-radius: 10px;
background: #FFF;
border-radius: 19.037px;
/* border: 2.004px solid  #9616C3; */
background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.pic-c{
position: relative;
display: flex;
align-items: center;

}
/* .outer3{
color: #FFF;
font-family: Inter;
font-size: 1.9rem;
font-style: normal;
font-weight: 500;
line-height: normal;

display: flex;
position: relative;
margin-top: 32vh;
right:10%;
text-align: center;
} */
.innerbox4{
  position: relative;
  width: 11.69vw;
  height: auto;
  flex-shrink: 0;
border-radius: 10px;
background: #FFF;
border-radius: 19.037px;
/* border: 2.004px solid  #9616C3; */
background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.pic-d{
position: relative;
display: flex;
align-items: center;

}
/* .outer4{
color: #FFF;
font-family: Inter;
font-size: 1.9rem;
font-style: normal;
font-weight: 500;
line-height: normal;

display: flex;
position: relative;
margin-top: 32vh;
right:10%;
text-align: center;
} */
.innerbox5{
  position: relative;
  width: 11.69vw;
  height: auto;
  flex-shrink: 0;
border-radius: 10px;
background: #FFF;
border-radius: 19.037px;
/* border: 2.004px solid  #9616C3; */
background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.pic-e{
position: relative;
display: flex;
align-items: center;

}
/* .outer5{
color: #FFF;
font-family: Inter;
font-size: 1.9rem;
font-style: normal;
font-weight: 500;
line-height: normal;

display: flex;
position: relative;
margin-top: 32vh;
right:10.5%;
text-align: center;
} */




