.mob-step-container{
    display: flex;
   width: 100vw;
   height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mob-mainbox-container{
    display: flex;
  
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: center;

}
.mob-mainbox{
    width: 100vw;
    height: 10vh;
   
    align-items: center;
    
    display: flex;
    justify-content:center;
    flex-direction:column;
    /* right: 4vw; */
}
.mob-texts{
    display: flex;
   
    text-align: center;
    justify-content: center;
    
    
}
.mob-method{
   display: flex;
    text-align: center;
    color: #FFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    width: 426px;
    height: 126px;
    flex-shrink: 0;
    font-size: x-large;
    justify-content: center;
   
}
.mob-innerbox{
    
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
  
    gap: 15px;
   
    
}
.mob-innerbox1 {
   
    width: 15.49vw;
    height: auto;
    flex-shrink: 0;
border-radius: 10px;
  background: #FFF;
  border-radius: 19.037px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  }
.mob-pic-a{
 
  display: flex;
  align-items: center;

}

.mob-innerbox2 {
  
  width: 15.49vw;
  height: auto;
  flex-shrink: 0;
border-radius: 10px;
background: #FFF;
border-radius: 19.037px;

background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.mob-pic-b{

display: flex;
align-items: center;

}

.mob-innerbox3 {

  width: 15.49vw;
  height: auto;
  flex-shrink: 0;
border-radius: 10px;
background: #FFF;
border-radius: 19.037px;

background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.mob-pic-c{

display: flex;
align-items: center;

}

.mob-innerbox4{
 
  width: 15.49vw;
  height: auto;
  flex-shrink: 0;
border-radius: 10px;
background: #FFF;
border-radius: 19.037px;

background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.mob-pic-d{

display: flex;
align-items: center;

}

.mob-innerbox5{
  
  width: 15.49vw;
  height: auto;
  flex-shrink: 0;
border-radius: 10px;
background: #FFF;
border-radius: 19.037px;

background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.mob-pic-e{

display: flex;
align-items: center;

}