



/* .game-view-top-winner .electra-table{
    margin: 0 !important;
    padding: 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    margin-right: 10px !important;
} */

.game-view-top-winner .electra-table .th-title {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.game-view-top-winner .electra-table .th-title .column {
    text-align: center;
    /* font-size: calc(5px + 0.5vw + 0.5vh); */
    padding-left: 2%;
}

.game-view-top-winner  .electra-table .item .column {
    text-align: center;
    justify-content: center;
    /* font-size: 1vw;    */
}

.game-view-top-winner .electra-table .item .column:first-child {
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
  }
  
/* Select the last column inside .game-view-top-winner .electra-table .item */
  .game-view-top-winner .electra-table .item .column:last-child {
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
  }

.game-view-top-winner .electra-table .item {
    /* align-items: center; */

    box-shadow: none !important;
    padding: 10px;
    margin: 10;
    background: rgba(217, 217, 217, 0.20);
}

.game-view-top-winner .electra-table .item .column{
    margin-top: 10px;
}




.game-view-top-winner .electra-table .item  .media-user {
   margin-right: 10px;
}

.game-view-top-winner .margin-vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

