/* Add these styles to your existing CSS file or component styles */
.signup-button {
    background-color: rgb(30, 30, 201);
    color: white;
    border-radius: 10px;
    padding: 14px 17px;
    font-size: larger;
    
    
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: inline-block; /* This makes it a block-level element for proper alignment */
    margin-left: 15px; /* Adjust the margin as needed to align it properly */
    font-weight: bold; /* Make the text bold */
    text-decoration: none; /* Remove the default link underline */
    transition: background-color 0.3s ease; /* Add a transition effect */
  }
  
  .signup-button:hover {
    background-color: #333; /* Change the background color on hover */
  }
  .button{
    padding-top: 10%;
  }