/* Responsive Navbar Styles */
.header_1 {
  background: #141313; /* Add a background color */
  padding: 10px 0; /* Adjust the padding as needed */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-decoration: none;
  /* background-color: rgba(221, 170, 49, 1);
  background-color: rgba(150, 22, 195, 1); */
  
}

.main-logo img {
  max-width: 100%; /* Ensure the logo scales properly */
  height: auto;
  margin-top: 4vh;
}



/* Style the Log In and Sign Up buttons */
.login, .signup {
  margin: 0 10px; /* Add space between buttons */
}
