.game-view-top-history-profile .table-ranking{
    margin: 0 !important;
    padding: 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    margin-right: 10px !important;
}

.game-view-top-history-profile .table-ranking .th-title {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.game-view-top-history-profile .table-ranking .th-title .column {
    text-align: center;
    width: 16.6%;
    font-size: 0.7vw;
}

.game-view-top-history-profile  .table-ranking .item .column {
    text-align: center;
    width: 16.6%;
    justify-content: center;
    font-size: 1vw;
}

.game-view-top-history-profile .table-ranking .item {
    align-items: center;
    background: #282828;
    box-shadow: none !important;
    border-radius: 30px;
    padding: 10px;
    height: 40px;
    margin-bottom: 0;
}

.game-view-top-history-profile .table-ranking .fl-item:not(:first-child) {
    margin-top: 10px;
  }

.game-view-top-history-profile .table-ranking .item .infor-item .media {
    width: auto; 
    height: 30px;
}

.game-view-top-history-profile .margin-vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.game-view-top-history-profile .table-ranking .item .column span {
    font-size: 0.8vw;
}

