
/* .game-view-top-history-profile .electra-table{
    margin: 0 !important;
    padding: 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    margin-right: 10px !important;
} */

.game-view-top-history-profile .electra-table .th-title {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.game-view-top-history-profile .electra-table .th-title .column {
    text-align: center;
    padding: 0;
}

.game-view-top-history-profile  .electra-table .item .column {
    text-align: center;
    justify-content: center;

}

.game-view-top-history-profile .electra-table .item .column:first-child {
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
  }
  
  /* Select the last column inside .game-view-top-history-profile .electra-table .item */
  .game-view-top-history-profile .electra-table .item .column:last-child {
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
  }

.game-view-top-history-profile .electra-table .item {
    /* align-items: center; */

    box-shadow: none !important;
    padding: 10px;
    margin: 10;
    background: #282828;
}

.game-view-top-history-profile .electra-table .item .column{
    margin-top: 10px;
}




.game-view-top-history-profile .electra-table .item  .media-user {
   margin-right: 10px;
}

.game-view-top-history-profile .margin-vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.game-view-top-history-profile  .electra-table {
    max-height: 70%;
}


