.nav-mob{
    display: flex;
    justify-content: space-between;
    /* position: relative; */
   
 

  
   
    
}
.mob-logo{
    display: flex;

    align-items: start;
    width: 15vw;
    height: auto;

flex-shrink: 0;
}
.mob-button{
    display: flex;

    align-items: center;
    flex-direction: row;
    margin-right: 10%;
    
}
.mob-login .btn{
    width: 6vw;
height: 2vh;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #332AA4;
color: #FFF;
text-align: center;
background-color: transparent;
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
left: 38.9vw;
bottom: 2vh;

justify-content: center;
align-items: center;
white-space: nowrap; 
overflow: hidden; 
text-overflow: ellipsis; 


}
.mob-signup .btn{
    width: 6vw;
    height: 2vh;
    flex-shrink: 0;
    border-radius: 5px;
    
    color: #FFF;
    text-align: center;
   
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    display: flex;
    left: 40vw;
    bottom: 2vh;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; 

    
}
.nav-mob-main{
    background: url('../../assets/background.png');
    background-size: cover;
    background-position: center;
    height: 150vw;
    width: 430px;
    
   
}

.mob-header{
    display: flex;
    /* position: relative; */
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    height: 100%;
    
   
}
.mob-electro{
    display: flex;
    /* position: relative; */
    justify-content: center;
    text-align: center;
    text-shadow: -1px -1px 0 black;
    width: 50vw;
    height: 5vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    align-items: center;


    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    top:45vw;
    right: 30vw;
}
.mob-text{
    display: flex;
    justify-content: center;
   
    width: 90vw;
    height: 14vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 10px 50px #ffbc0e;
 
    font-size: 3.0rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
    top: 25vh;
}
.mob-every{
    display: flex;
    color: #F9F3F3;
    text-align: center;
    align-items: center;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.9px;
    top: 24vh;
   
}
.mob-bidnow{
width: 30vw; /* Adjust the width as needed */
height: 3vh; /* Adjust the height as needed */
color: #000;
  
text-align: center;

font-size: 1.5rem;
font-style: normal;
font-weight: 900;
line-height: normal;
border-radius: 8px;
background: #FFBC0E;
text-align: center;
display: flex;
top: 55vw;

border-color: #FFBC0E;
justify-content: center;
align-items: center;
flex-direction: row;
white-space: nowrap; 
overflow: hidden; 
text-overflow: ellipsis; 
text-align: center;



}


