.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Styles for the col-2 class */
.col-3 {
  flex: 0 0 28%;
  max-width: 28%;
}

/* Styles for the m-3 class (margin) */
.m-3 {
  margin: 1rem;
}






.tutorial-parent{
display: flex;
width: 100%;
height: 100vh;
/* background-color: aqua; */
align-items: center;
justify-content: start;
flex-direction: column;
gap: 1vw;
}
.tutorail-chaild{
display: flex;
width: 100%;
height: 20%;
/* background-color: brown; */
align-items: center;
justify-content: center;
}
.chaild-tutorail01{
display: flex;
width: 95%;
height: 100%;
background-color: #252525; 
border-radius: 2vw;

}
.chaild-01{
display: flex;
width: 100%;
height: 100%;

border-radius: 2vw;
align-items: center;
justify-content: center;
}
.chaild-001{
display: flex;
width: 95%;
height: 100%;
/* gap: .2vw; */
border-radius: 2vw;
flex-direction: column;

}
.text-tutotail{
display: flex;
width: 100%;
height: 25%;

align-items: center;
justify-content: center;
}
.tutorailtext-chaild{
display: flex;
width: 100%;
height: 100%;

color: #9F9F9F;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
align-items: center;
}
.text-tutotails{
display: flex;
width: 100%;
height: 20%;

align-items: center;
justify-content: center;
}
.tutorailtext-innerchaild{
display: flex;
width: 100%;
height: auto;

color: #fff;
font-family: Poppins;
font-size: 2.3rem;
font-style: normal;
font-weight: 600;
line-height: normal;
align-items: center;
/* background-color: chartreuse; */
}
.text-tutotaillast{
display: flex;
width: 100%;
height: 50%;

align-items: center;
justify-content: center;
}
.tutorailtext-innerchaildlast{
display: flex;
width: 100%;
height: auto;

color: #fff;
font-family: 'Poppins', sans-serif;
font-size: 1.4rem;
font-style: normal;
font-weight: 600;
line-height: normal;
align-items: center;
/* background-color: aqua; */
}