.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Styles for the col-2 class */
.col-3 {
  flex: 0 0 28%;
  max-width: 28%;
}

/* Styles for the m-3 class (margin) */
.m-3 {
  margin: 1rem;
}


.tutorial-mainparentmobile{
  display: flex;
  width: 100%;
  height: 140vh;
 
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.tutorial-parent{
display: flex;
width: 100%;
height: 200px;
flex-shrink: 0;
border-radius: 36px;
background: #1C1C1C;
align-items: center;
justify-content: center;
}
.tutorial-inner{
display: flex;
width: 90%;
height: 100%;
/* background-color: aquamarine; */
flex-direction: column;
gap: .2vw;

}
.innertutorail-chaildmobile{
display: flex;
width: 50%;
height: 15%;

align-items: end;
}
.innertutorial-chaild01mobile{
display: flex;
width: 100%;
height: auto;

align-items: center;
color: #9F9F9F;
font-family: 'Poppins', sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.innertutorail-chaild01mobile{
display: flex;
width: 50%;
height: 20%;

align-items: center;
}
.innertutorial-chaild02mobile{
display: flex;
width: 100%;
height: auto;

align-items: center;
color: #ffff;
font-family: 'Poppins', sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.innertutorail-chaild02mobile{
display: flex;
width: 100%;
height: 50%;

align-items: start;
}
.innertutorial-chaild03mobile{
display: flex;
width: 100%;
height: auto;

align-items: center;
color: #ffff;
font-family: 'Poppins', sans-serif;
font-size: 11.5px;
font-style: normal;
font-weight: 550;
line-height: normal;
}