.game-navbar img.background{
    width: 100%;
    height: 100%;
    /* filter: drop-shadow(0px 0px 50px #F9E000); */
}

.game-navbar .logo-container{
    height: 15vw;
    /* margin-top: -40px;
    margin-bottom: -30px;    */
    /* background: rgba(0, 0, 0, 0.30); */

}

.game-navbar{
    height: 100vh;
    background: rgba(0, 0, 0, 0.30);
}