body{
  color: white !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Style the background track */
::-webkit-scrollbar {
  width: 6px; /* You can adjust the width as needed */
  padding-left: 10px;
}

/* Style the track */
::-webkit-scrollbar-track {
  background: #766761; /* Change the background color */
  border-radius: 10px;
}

/* Style the thumb */
::-webkit-scrollbar-thumb {
  background: #B1A8A3; /* Change the color of the thumb */
  border-radius: 10px;
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B1A8A3;
}

/* @font-face {
  font-family: 'YourFontName';
  src: url('./fonts/yourfont.woff') format('woff'),
       url('./fonts/yourfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'electra';
  src: url('assets/fonts/Carthage Pro Regular.otf') format('opentype'),
       url('assets/fonts/Carthage Pro Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: electra !important;
}

.d-center{
display: flex;
justify-content: center;
}

.d-between{
  display: flex;
  justify-content: space-between;
  }
  
.v-cen{
align-items: center;
}

.m-10{
margin: 10px;
}

.p-10{
  padding: 10px;
  }

.electra-table{
  border-width: 0;
  border: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-spacing:  0px 10px;
}

.electra-table {
  width: 98%;
  display: block;
  overflow-y: auto;
  max-height: 100%;
}

.electra-table span,  .electra-table div{
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  .electra-table span,  .electra-table div{
      font-size: 1.2em;
  }
}



.electra-table thead,
.electra-table tbody {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.electra-table thead{

}
/* .electra-table tbody{
  max-height: 100%;
  overflow-y: scroll;
} */

.electra-table th, .electra-table td{
  /* border-width: 0; */
  border: none;
  text-align: center;
}

.electra-table tr{
  margin-top: 10px;
}

.electra-table .user-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.electra-table td {
  vertical-align: middle;
}


