/* Add this code to your Gmsidebar.css file */

.sidebar-links {
  display: flex;
  flex-direction: column; /* Display links in a column */
  align-items: flex-start; /* Align links to the left */
  gap: 11px; /* Add spacing between links */
}

.electra-sidebar-link {
  border-radius: 5px;
  background: #514747;
  width: calc(100% - 15px);
  color: #DFDDD5;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  align-items: center; /* Align links and icons vertically */
  border: 2px solid transparent;
 /* Background color for the links */
  padding: 13px 25px;
  font-size: larger;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  display: inline-block; /* This makes it a block-level element for proper alignment */
  margin-left: 15px; /* Adjust the margin as needed to align it properly */
  text-decoration: none; /* Remove the default link underline */
  transition: background-color 0.3s ease;
}


.electra-sidebar-link:hover {
  color: #DFDDD5; /* Text color on hover */
  border-color: transparent; /* Remove border on hover */
  border-radius: 5px;
  background: #847878;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.80);
}

.referal{
  background: #835AF9;
  padding: 0px 5px ;
  color: #DFDDD5 !important;
}

.referal-anchor{
  color: #DFDDD5 !important;
}

.referal:hover{
  background: #B1A3D9;
  padding: 0px 5px ;
}

.referal .referal-image{
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 2px 40px #D4B116) drop-shadow(0px 2px 4px #000);
  transform: scaleX(-1);
}

.user-modal{
  padding: 5%;
}
