
.game-view-portfolio-table .electra-table .th-title {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.game-view-portfolio-table .electra-table .th-title .column {
    text-align: center;
    font-size: 1.8em;
    padding: 0;
}

.game-view-portfolio-table  .electra-table .item .column {
    text-align: center;
    justify-content: center;
    font-size: 1vw;   
}

.game-view-portfolio-table .electra-table .item .column:first-child {
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
  }
  
  /* Select the last column inside .game-view-portfolio-table .electra-table .item */
  .game-view-portfolio-table .electra-table .item .column:last-child {
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
  }

.game-view-portfolio-table .electra-table .item {
    /* align-items: center; */

    box-shadow: none !important;
    padding: 10px;
    margin: 10;
    background: linear-gradient(0deg, #282828 0%, #282828 100%), linear-gradient(0deg, #282828 0%, #282828 100%), #282828;
}

.game-view-portfolio-table .electra-table .item .column{
    margin-top: 10px;
}




.game-view-portfolio-table .electra-table .item  .media-user {
   margin-right: 10px;
}

.game-view-portfolio-table .margin-vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}
